<!-- Essay in Full View -->
<h2 id="Title" style="display:inline-block;">{{ essay.title }}</h2>
<div style="float:right;">
    <!-- Grading form -->
    {% if essay.grade_denominator == 0 %}
        <h2 style="float:right; margin-right:20px;">
            <input type="text" class="form-control" name="numerator" id="numerator" style="display:inline-block; width:60px;">
            <b>/</b>
            <input type="text" class="form-control" name="denominator" id="denominator" style="display:inline-block;width:60px;">
        </h2>
        <h3>
            <button value="{{ essay.pk }}" pk="{{essay.pk}}" url="{% url 'grade_essay' essay.pk %}" style="float:right; margin:25px;" class="btn btn-primary" type="submit" id="add_grade" onclick="gradeEssay()">Grade This Essay</button>
        </h3>
    {% else %}
        <h2 style="float:right; margin-right:20px;">{{essay.grade_numerator}}<b>/</b>{{essay.grade_denominator}}</h2>
    {% endif %}
</div>
<!-- Essay Details -->
<h3 id="Author">{{ essay.author.get_full_name }}</h3>
<h4 id="Created">{{ essay.created_on }}</h4><br>
{% if essay.marked %} <p id="Body">{{ essay.marked_body | safe}}</p> {% else %} <p id="Body">{{ essay.body | safe}}</p> {% endif %}
<hr>
<br>
<!-- Comments -->
{% for comment in comments %}
    <div class="comment">
    <h6 style="display: inline-block;">{{comment.author.get_full_name}}</h6>
    <h6 style="display:inlnie-block; float: right;">{{comment.created_on}}</h6>
    <p>{{comment.body}}</p>
    </div>
{% endfor %}
<!-- Comment Form -->
{{ form.as_p }}
<button id="btn" onclick="interval(); addComment({{essay.pk}})" class="btn btn-primary">
    Comment
</button>